# Local Test Environment Variables
BOT_TOKEN=
BOT_ADMINS=
BOT_ALLOWED_UPDATES=

# Wallet Configuration
WALLET_MASTER_SEED=
WALLET_ENCRYPTION_KEY=

# Solana
SOLANA_RPC_URL=

# Logging
DEBUG=
LOG_LEVEL=
