# Production Environment Variables
BOT_TOKEN=
BOT_WEBHOOK_SECRET=
BOT_ADMINS=
BOT_ALLOWED_UPDATES=

# Wallet Configuration
WALLET_MASTER_SEED=
WALLET_ENCRYPTION_KEY=

# Solana
SOLANA_RPC_URL=

# Let's Encrypt
LETSENCRYPT_EMAIL=

# Logging
DEBUG=
LOG_LEVEL=
